# dependencies
node_modules/

# next.js
.next/
out/

# production
build/

# env files
.env
.env*.local
.envrc

# debug
npm-debug.log*

# misc
.DS_Store
*.pem

# sqlite
*.db
*.sqlite

# Database
*.db-wal
*.db-shm

# turbo
.turbo

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

